
<div class="row align-items-center justify-content-center">
<div class="">
<h1>Список установленных постов</h1>
<% @posts.each do |post|  %>
  <div>
    <%= fa_icon "bolt" %>
    <%= render partial: 'badge', locals: {post: post} %>
    <strong> <%= post.line_name %> </strong>
    опора <%= post.num_tower %>
    <%= link_to 'Подробнее', post_path(post) %> | 
    <%= link_to 'Изменить', edit_post_path(post) %> | 
    <%= link_to 'Удалить', post_path(post), 
          method: :delete, 
          data: {confirm: 'Вы уверены?'} %>    
  </div>
<% end %>
<div>
<br />
<p>
<%= link_to 'Новый пост', new_post_path, { :class=>"btn btn-primary btn-block" }  %>
</p>
</div>
</div>
</div>
