<h1>Создание нового поста</h1>
<%= form_with scope: :post, url: posts_path, local: true do |form|  %>

  <p>
    <%= form.label :line_name %><br>
    <%= form.text_field :line_name %>
  </p>
  
  <p>
    <%= form.label :num_tower %><br>
    <%= form.text_field :num_tower %>
  </p>

  <p>
    <%= form.label :main_phone_number %><br>
    <%= form.text_field :main_phone_number %>
  </p>
  
  <p>
    <%= form.label :reserve_phone_number %><br>
    <%= form.text_field :reserve_phone_number %>
  </p>

  <p>
    <%= form.submit class: 'btn btn-success' %>
  </p>

<% end %>
<div>
<p>
<%= link_to 'Список постов', posts_path, { :class=>"btn btn-primary" }  %>
</p>
</div>
