<h1>Параметры поста</h1>
<div>
  <p>
    <strong>Линия: </strong>
    <%= @post.line_name %>
  </p>
  <p>
    <strong>Опора: </strong>
    <%= @post.num_tower %>
  </p>
  <p>
    <strong>Основной номер: </strong>
    <%= @post.main_phone_number %>
  </p>
  <p>
    <strong>Резервный номер: </strong>
    <%= @post.reserve_phone_number %>
  </p>
</div>
<hr>
<div>
<h3>Измерения:</h3>
<% @post.measurements.order('measurements.created_at DESC').each do |measurement| %>
  <div>
    <strong>F0: </strong>
    <%= measurement.F0 %>
    <strong> кгс</strong>
  </div>
  <div>
    <strong>T0: </strong>
    <%= measurement.T0 %>
    <strong> C</strong>
  </div>
  <div>
    <strong>Upit: </strong>
    <%= measurement.Upit %>
    <strong> В</strong>
  </div>
  <div>
    <strong>Дата: </strong>
    <%= measurement.created_at %>
  </div>
<% end %>
</div>
<div>
<hr>
<div>
  <h3>Добавить измерение:</h3>
  <%= form_with(model: [ @post, @post.measurements.build ], local: true) do |form| %>
    <p>
      <%= form.label :F0 %><br>
      <%= form.text_field :F0 %>
    </p>
    <p>
      <%= form.label :T0 %><br>
      <%= form.text_field :T0 %>
    </p>
    <p>
      <%= form.label :Upit %><br>
      <%= form.text_field :Upit %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
<p>
<%= link_to 'Список постов', posts_path %>|
<%= link_to 'Новый пост', new_post_path %>
</p>
</div>
