<!DOCTYPE html>
<html>
  <head>
    <title>WebStgnTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">СТГН</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Сводная таблица</a>
              <a class="nav-item nav-link" href="#">Температура провода</a>
              <a class="nav-item nav-link" href="#">Погода</a>
            </div>
          </div>
          <div>
              <div class="collapse navbar-collapse my-2 my-sm-0">
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_user_registration_path, class: "nav-item nav-link" %> 
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-item nav-link"  %>
              <% else %>
                <%= link_to 'Signup', new_user_registration_path, class: "nav-item nav-link" %> 
                <%= link_to 'Login', new_user_session_path, class: "nav-item nav-link" %>
              <% end %>
              </div>
          </div>
        </nav>
      </div>
      <div class="container">
      <% if notice %> <p class="alert alert-warning"><%= notice %></p> <% end %>
      <% if alert %><p class="alert alert-danger"><%= alert %></p> <% end %>
      </div>

    <div class="container">
      <div class="jumbotron">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
